*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom:10rem:
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    color: #1b357e;
}

header {
    background: white;
    padding: 15px ;
    border-bottom: 0.2px solid #1b357e ;
}

.conteinner {
    display: flex;
	width: 100%;
	margin: 0 auto; 
    height: 40px;
    justify-content: space-between;
    align-items: center; 
}

nav { 
    width: 70%;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}    

nav a {
	color: #1b357e;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
    padding-left: 100px;
}

nav a:hover {
    font-size: 30px;
} 
        
footer{
    background-color: mediumslateblue;
    color: #fff;
    padding:20px ;
    text-align: center;
    position:fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    z-index: 1;
}

.rede-social {
    margin: 0 0 0 10px;
}

.fordcopyright {
    display: flex;
    margin-right: 20px;
    align-items: center;
    width: 20%;
    justify-content: space-around;
}

.fordcopyright p {
    color: white;
    font-style: italic;
}


/* Conteúdo Pág Principal */

.conteudo-principal {
    text-align: center;
	width: 100%;
    margin-top: 30px;
}


/* Conteúdo Pág Lançamento */

.video-promo {
    text-align: center;
    padding-top: 20px;
}

.produto li {
	text-align: center;
	width: 100%;
    

}
.fordranger {
    width: 70%;
}

/* Conteúdo Pág Contato*/

.contato-ford {
    display: inline;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: darkblue;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: red;
	transform: scale(1.2);
}



